services:
  api:
    container_name: rag-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - QDRANT_COLLECTION=documents
      - NEO4J_URI=neo4j+s://2fdfd15a.databases.neo4j.io
      - NEO4J_USER=neo4j
      - NEO4J_PASSWORD=VttCo-TSuDYCuCUngceKunF8uSmhjj_y1rAQAk0_zws
      - YANDEX_API_KEY=AQVN1gbau43SwOY0sVG8Dsr--39TAw6eTIVVzPVP
      - CLOUD_API_KEY=YzI2NzlmZTMtZDFjYy00OTVjLWE1OGEtY2ViNGMxNDg4ZjRm.50ff5f06ffb89599cea38207a490628e
      - CLOUD_RU_URL=https://foundation-models.api.cloud.ru/v1
      - INPUT_FOLDER=/app/input_files
      - TEXT_OUTPUT_FOLDER=/app/ocr_texts
      - VECTOR_SIZE=1024
      - SEMANTIC_BREAKPOINT_TYPE=percentile
      - SEMANTIC_BREAKPOINT_THRESHOLD=0.6
      - MAX_RETRIES=30
      - RETRY_DELAY=10
      - HYBRID_ALPHA=0.5
      - LOG_DIR=/app/logs
    volumes:
      - .:/app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080", "--reload"]
    restart: unless-stopped
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_data:/qdrant/storage

volumes: {}
